body {
  	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
a{
	text-decoration:none;
}
#dvImage{
  background-image: url("pic/background1.jpg");	
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.maincontent{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 6%;
}
.topNav {
	overflow: hidden;
	background-color: #333;
	border-radius: 2vw;
	border: 4px solid #bbb;
}
.topNav a {
	float: left;
	font-size:25px;
	display: block;
	color: white;
	text-align: center;
	padding: 24px 26px;
	border-right:2px solid #bbb;
	text-decoration: none;
}
.topNav a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
  color: white;
}
.topNav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color: white;
  padding: 24px 26px;
  background-color: #333;
  border-right:2px solid #bbb;
  margin: 0;
  cursor: pointer; 
}
button.dropbtn.active {
  background-color: #04AA6D;
  color: white;	
}
.topNav a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #300;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #333;
  color: #04AA6D;
}
.show {
  display: block;
}

@media screen and (max-width: 1370px) {
  .topNav a:not(:first-child), .dropdown .dropbtn {
    display: none;
	font-size: 17px;
  }
    .topNav a:not(:first-child), .dropdown .dropbtnactive {
    display: none;
	font-size: 17px;
  }
  	.topNav a{
		border-right:0px ;
	}
  .topNav a.icon {
    float: right;
    display: block;
  }
   .topNav.responsive {position: relative; font-size:17px;}
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
	font-size:15px;
  }
  .topNav.responsive .dropdown {float: none;}
  .topNav.responsive .dropdown-content {position: relative;}
  .topNav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  } 
}
@media screen and (max-width: 600px) {
  .maincontent .article {
  font-size:14px;
  margin-left:1%;
  margin-right:1%;
  }
  .maincontent h1{
   margin-left:1%;
  font-size:25px;
  }
   body{
	  background-image:url("pic/backgroundphone.jpg");
  }
  .maincontent .container{
  margin-left:0%;
  margin-right:0%;
  }
  .maincontent .article .zoom{
  width:100%;
  }
  .maincontent .articleh table tr, td, th{
	  font-size:14px;
  }
}




h1{
  background-color:rgba(255, 255, 255, 0.75);
  color:black;
  font-family:verdana;
  font-size: 36px;
  text-align: left;
  display: inline-block;
  box-shadow: 0 0 15px black;
  padding: 1.4vw;
  border-radius: 2vw;
  margin-left: 5%;
}
h2{
	color: Navy;
	font-family:verdana;
	font-size: 22px;
	background-color:rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px black;
	padding: 1.4vw;
	border-radius: 2vw;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:500px;
}
h3{
	font-size:17px;
}
.header{
  font-family: verdana;
  font-size: 20px;
  color: #04AA6D;
  text-align:center;
}
.header1{
  font-size: 32px;
  color: #04AA6D;
  text-align:center;  
  font-family: verdana;

}
#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
.article {
  background-color:rgba(255, 255, 255, 0.75);
  color:black;
  box-shadow: 0 0 25px black;
  padding: 1.4vw;
  font-family: verdana;
  font-size: 20px;
  line-height:1.6;
  margin-top: -0.5vw;
  border-radius: 2vw;
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom:10%;
}
.articleh{
  background-color:rgba(255, 255, 255, 0.75);
  color:black;
  box-shadow: 0 0 25px black;
  padding: 1.4vw;
  font-family: verdana;
  font-size: 20px;
   border-radius: 2vw;
  display:inline-block;
  margin: 0px auto;
}
table{
	margin: 3% auto;
	font-size:22px;
	background-color:rgba(255, 255, 255, 0.9);
	color:black;
	text-align:center;
	vertical-align:middle;
	border-collapse:collapse;
	
}
table th{
	background-color:#04AA6D;
	color:black;
	text-transform:uppercase;
}
table{
	border:2px solid black;
    color:black;
}
table th, tr, td {
	border:2px solid black;
    color:black;
	padding:8px;
	font-size: 22px;
}
tbody tr:nth-child(odd) {
  background-color: #5dc96b;
}

tbody tr:nth-child(even) {
  background-color: #6cdfd0;
}


.dark{
  background-color:rgba(0, 0, 0, 0.75);
  color:white;
  
}

 input[type=checkbox].toggle-switch {
    transform: rotate(90deg);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
	display:inline-block;
    cursor: pointer; 
    width: 5em;
    height: 1.5em;
	margin-bottom:0.9em;
    border-radius: 3em;
    background-color: #ebebeb;
    transition: background-color 0.09s ease-in-out;
	position: relative;
&:active::after {
       background-color: #f2f2f2;
       padding-right: .8em;
 }}
   &::after {
      content: '';
      width: 2em; 
      height: 2em;
	  display:inline-block;
      background-color: white;
      border-radius: 3em;
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      padding .3s ease, margin .3s ease;
      box-shadow: 2px 0px 5px 0 rgba(0,0,0,0.15);
  }
input[type=checkbox].toggle-switch:checked {
background-color: #04AA6D;}
   &:active::after {
      margin-left: -.8em;
   }
   &::after {
      left: 2em;
      background-color: #242424;
}


.opts {
   color: #04AA6D;
   	display:inline-block;
}

.opt-1 {
   color: white;
}

.opt-1,
.opt-2 {
   transition: .2s all;
   line-height:0.9;
}

.checkbox-wrap {
	display:inline-block;
	width:200px;
}	

.clock-holder{
	position:absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;

	
}
.clock {
  position: relative;
  padding:20px;
  margin-bottom:2%;
  color: black;
  font-family: "Lato", sans-serif;
}
.clock div {
  position: relative;
  float: left;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 6px;
  max-width: 96px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  margin: 0px 5px;
}


.video-container{
  position: relative;
  padding-bottom: 2%;
}
.video-container iframe{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video {
	display:none;
	aspect-ratio: 16 / 9;
	width: 100%;

}
.btn, .btn:after, .ajaxbtn, .ajaxbtn:after, .morebtn, .morebtn:after {
  width: 70px;
  height: 36px;
  cursor: pointer; 
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Bebas Neue', sans-serif;
  background: #04AA6D;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:after, .ajaxbtn:after, .morebtn:after{
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}
.btn:hover:after, .ajaxbtn:hover:after, .morebtn:hover:after{
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
.morebtn{
padding:0.8%;
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



.zoom{
	float:left; 
	padding-right:30px;  
	width:70vw; 
	height:auto; 
	max-width:500px; 
	min-width:200px;
	border-radius: 2vw;
	transition: transform 1s;
	cursor:pointer;
}
.zoom:hover {
  transform: scale(1.2);
}




.footer {
  overflow: hidden;
  margin-top:40px;
  background-color: #333;
  padding: 40px;
  text-align: center;
}


/* Style the form element with a border around it   Newsletter */
form {
  border: 4px solid #f1f1f1;
}
.container2 {
  padding: 4px;
  background-color: #333;
  color:#04AA6D;
    font-size:15px;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size:15px;
}
input[type=submit] {
  background-color: #04AA6D;
  font-size:15px;
  color: white;
  border: none;
}
input[type=submit]:hover {
  opacity: 0.8;
}



/* Style inputs, select elements and textareas KONTAKT */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:#04AA6D;
  margin-left:10px;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container {
	margin-right:15%;
	margin-left:15%;
	margin-top:15%;
	border-radius: 5px;
	background-color: #333;
	padding: 25px;
}
.col-25 {
  float: left;
  width: 20%;
  margin-top: 12px;
}
.col-75 {
  float: left;
  width: 65%;
  margin-top: 12px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



.progress-wrap {
	position: fixed;
	background: green;
	right: 50px;
	bottom: 30px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 45px;
	color: red;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 45px;
	opacity: 0;
	background: green;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: rgba(0, 0, 255, 0.7);
	stroke-width: 10;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
@-webkit-keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
	14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
	28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
	42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
	56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
	70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
	84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
